.basket {
	margin-top: 130px;
	@media (max-width: 1024px) {
		padding: 0px 20px;
	}
	.basket__container {
		.basket__row {
			@apply w-full flex laptop:flex-wrap;
			.basket__column {
				flex: 0 1 66.5%;
				background-color: #ffffff;
				&:first-child {
					padding: 30px;
					margin-right: 20px;
					border-radius: 20px;
				}
				.basket__title {
					@apply flex;
					& h1 {
						@apply text-mob-title mobile:text-text-24 mobile:font-light;
					}
					& p {
						@apply text-text-default text-black-300 ml-1;
					}
				}

				&.second {
					flex: 0 1 32%;
					@apply bg-transparent;
				}
				@media (max-width: 1024px) {
					flex: 1 1 100%;
					&:first-child {
						margin-right: 0px;
						padding: 20px;
					}
					&.second {
						flex: 1 1 100%;
						margin-top: 30px;
					}
				}
				.basket__item {
					.basket__bar {
						@apply mt-6 bg-white p-2 flex justify-between border-b-2 border-solid border-black-400;
						.bar__column {
							@apply text-black-900 font-medium text-text-12;
							& span {
								line-height: 8px;
							}
						}
						.bar__remove {
							@apply text-orange-900 text-text-12;
						}
					}
					.basket__products_list {
						@apply mt-4;
						.basket__product {
							box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
							@apply bg-dark-white transition-colors flex
							justify-between rounded-2xl mb-2 p-2 tablet:flex-wrap;
							&:last-child {
								@apply mb-0;
							}
							&.selected {
								@apply bg-white;
							}
							.basket__product_product {
								flex: 1 1 auto;
								margin-left: 20px;
								display: flex;
								align-items: center;
								.basket__product_image {
									@apply w-[50px] h-[50px] mr-4;
									& img {
										@apply image-min;
									}
								}
								.basket__product_info {
									& h4 {
										@apply text-text-lg font-semibold mb-1;
									}
									& p {
										@apply text-text-12 text-black-300;
									}
								}
							}
							.basket__product_price {
								flex: 0 1 18%;
								margin-right: 121px;
								& h5 {
									@apply text-text-lg font-semibold mb-1;
								}
								@media (max-width: 768px) {
									flex: 0 1 50%;
									margin-right: 0px;
									padding-right: 10px;
									padding-left: 36px;
									margin-top: 20px;
								}
							}
							.basket__product_count {
								@media (max-width: 768px) {
									flex: 0 1 50%;
								}
							}
						}
						.basket__empty {
							@apply flex flex-col w-full h-[230px] justify-center items-center;
							.empty_svg {
								@apply mb-2;
							}
							.empty_home {
								@apply inline-block mt-6 border-[2px] border-solid bg-white px-4 py-2
								text-orange-900 rounded-12xl border-orange-900 text-text-default;
							}
						}
					}
				}
				.decor__item {
					background-color: #ffffff;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0px;
					}
					@apply w-full p-6 rounded-6xl;
					& h4 {
						@apply text-text-24 font-medium;
						margin-bottom: 14px;
					}
					.item__row {
						@apply flex justify-between;
						margin-bottom: 14px;
						&:last-child {
							margin-bottom: 0px;
						}
						.item__row_info {
							@apply text-text-default;
						}
						.item__row_value {
							@apply text-text-default;
						}
						.item__row_discount {
							@apply text-orange-700;
						}
						.item__row_summary {
							@apply text-20px font-medium;
						}
						.item__row_summary_price {
							@apply text-20px font-semibold;
						}
					}

					.item__buy {
						@apply bright-button hover:bg-orange-900 transition-colors;
						margin-top: 14px;
						&.disabled {
							@apply bg-primary;
						}
					}
					.seller__row {
						@apply flex justify-between mb-6;
						& p {
							@apply text-text-sm text-black-300;
						}
					}
					.decor__seller {
						@apply flex justify-between w-full p-2 border-basket-round border-solid border rounded-5xl
								mb-2;
						.salesman_info {
							@apply flex items-center flex-auto;
							.salesman__image {
								@apply w-[30px] h-[30px] mr-2 rounded-circle overflow-hidden;
								& img {
									@apply image-min;
								}
							}
							& h6 {
								@apply text-text-default w-[80px] text-black-300 whitespace-nowrap overflow-hidden text-ellipsis;
							}
						}
						.salesman__rate {
							@apply flex justify-between flex-wrap laptop:justify-end;
							flex: 0 1 50%;
							.salesman__reviews {
								@apply border-solid border-[1px] rounded-2xl px-2 py-[2px] text-text-12 font-semibold ml-1;
							}
							& p {
								flex: 1 1 100%;
								@apply text-black-300 text-text-12 text-right;
							}
						}
					}
					.see__all {
						@apply py-3 rounded-10xl bg-primary text-20px font-medium block w-full;
					}
				}
			}
			.decor__check {
				width: 100%;
				height: 30px;
				background: #f6f6f6;
				position: relative;
				& p {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translate(0px, -50%);
					width: 100%;
					height: 1px;
					border: 1px dashed #e5e5e5;
					z-index: 0;
				}
				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 0;
					width: 50px;
					height: 30px;
					background-color: #f0f0f0;

					z-index: 1;
				}
				&::before {
					left: -30px;
					border-radius: 0px 100% 100% 0px;
				}
				&::after {
					right: -30px;
					border-radius: 100% 0px 0px 100%;
				}
			}
			.decor__price {
				@apply bg-dark-white px-6 pt-1 pb-6 flex justify-between;
				& h3 {
					@apply text-text-24;
				}
			}
		}
	}
}
