.pick__body {
	@media (max-width: 768px) {
		flex: 0 1 50%;
		&:first-child {
			padding-right: 10px;
		}
	}

	.pick {
		width: 140px;
		padding: 10px 16px;
		border: 1px solid #e4e4e4;
		border-radius: 60px;
		margin-right: 10px;
		display: flex;
		position: relative;
		@media (max-width: 768px) {
			width: 100%;
			margin-right: 0px;
		}
		& input {
			@apply block bg-transparent placeholder:text-text-default placeholder:text-black-800 w-full;
		}
		.icon {
			position: absolute;
			right: 16px;
			top: 10px;
			pointer-events: none;
			background-color: #f0f0f0;
		}
		&.focus {
		}
	}
}
