.product__carousel {
	min-width: 0;
	@apply bg-white rounded-6xl p-4 my-5;
	.discount__title {
		@apply text-text-xl mb-4;
		& svg {
			display: inline-block;
			margin-right: 12px;
		}
	}
	.mySwiper {
		width: 100%;
		overflow: hidden;
		z-index: 0;
		.pr-slide {
			&:last-child {
				margin-right: 0px;
			}
			&:hover .add__basket {
				@apply scale-100 visible;
			}
			.category__link {
				@apply block bg-dark-white h-full w-full flex flex-col items-center justify-center rounded-6xl
			overflow-hidden transition-colors cursor-pointer;
				&:hover {
					@apply bg-orange-300 text-white;
					& path {
						@apply fill-white;
					}
				}
				&.sel {
					@apply bg-orange-900 text-white;
					& path {
						@apply fill-white;
					}
				}
				& p {
					@apply text-[17px];
				}
			}
		}
	}
}
