.product__carousel {
	min-width: 0;
	.mySwiper {
		width: 100%;
		overflow: hidden;
		z-index: 0;
		.pr-slide {
			&:last-child {
				margin-right: 0px;
			}

			.add__basket {
				@apply absolute left-3 top-3 bg-orange-900 bg-opacity-80
					p-[12px] rounded-12xl z-1 scale-0 invisible transition-all;
				&:hover {
					@apply bg-opacity-100;
				}
			}
			&:hover .add__basket {
				@apply scale-100 visible;
			}
			.category__link {
				@apply block bg-dark-white h-full w-full flex flex-col items-center justify-center rounded-6xl
			overflow-hidden transition-colors cursor-pointer;
				&:hover {
					@apply bg-orange-300 text-white;
					& path {
						@apply fill-white;
					}
				}
				&.sel {
					@apply bg-orange-900 text-white;
					& path {
						@apply fill-white;
					}
				}
				& p {
					@apply text-[17px];
				}
			}
		}
	}
}
