.profile {
	flex: 1 1 100%;
	height: 100%;
	@apply flex;
	& label {
		@apply mb-2 text-text-sm text-black-300 block;
	}
	.title {
		@apply text-text-24 leading-normal font-medium mb-4;
	}
	.first__column {
		flex: 0 1 64%;
		@apply mr-4 bg-white rounded-6xl p-6 overflow-y-auto animate-scaleIn;

		.user__name {
			max-width: 332px;
			@apply mb-8;
			.user__input {
				@apply input-default;
			}
		}

		.safety {
			max-width: 644px;
			@apply flex mb-4 items-end;
			.safety__column {
				flex: 0 1 69%;
				@apply mr-4;
				.input__decor {
					@apply relative h-[44px] rounded-5xl overflow-hidden;
					.input__decor__input {
						@apply input-default absolute left-0 top-0 h-full z-0;
					}
					& i {
						@apply absolute right-3 text-20px;

						top: 50%;
						transform: translate(0px, -50%);
					}
				}
			}
			.safety__button {
				flex: 0 1 28%;
				@apply btn-primary-opacity rounded-5xl transition-colors;
				&.orange {
					@apply btn-primary rounded-5xl;
				}
			}
		}
	}
	.second__column {
		flex: 0 1 35%;
		display: flex;
		flex-direction: column;
		.profile__avatar {
			@apply bg-white  rounded-6xl p-4 mb-4 animate-scaleIn;
		}
		.profile__info {
			@apply bg-white  rounded-6xl p-4 animate-scaleIn;
			flex: 1 1 100%;
			.profile__info_info {
				@apply leading-normal text-text-default;

				& i {
					color: #2fc00a;
				}
			}
		}
	}
}
