.sort {
	@apply p-4 border-dashed border-line border-[2px] mt-6 rounded-2xl flex justify-between items-center
	tablet:flex-wrap tablet:justify-center;
	.first__column {
		flex: 0 1 17%;
		@media (max-width: 1154px) {
			flex: 0 1 20%;
		}
		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin-bottom: 20px;
		}
	}
	.second__column {
		flex: 0 1 13%;
		@media (max-width: 1154px) {
			flex: 0 1 20%;
		}
		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin-bottom: 20px;
		}
	}
	.third__column {
		flex: 0 1 37%;
		display: flex;
		align-items: center;
		.third__plus {
			@apply block mr-4 text-line text-[20px] transition-colors border-solid border-line rounded-2xl p-[13px];
			&:hover {
				@apply border-black-900 text-black-900;
			}
		}
		.third__name {
			@apply animate-fade;
			& h4 {
				@apply text-text-lg font-semibold mb-1;
			}
			& p {
				@apply text-text-12 text-black-300;
			}
		}

		& input {
			@apply animate-fade block w-full h-[45px] border-[2px] border-line border-solid rounded-12xl py-2 px-3 text-text-sm text-black-300 focus:border-orange-900 transition-colors;
		}
		@media (max-width: 1154px) {
			flex: 0 1 25%;
		}
		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin-bottom: 20px;
		}
	}
	.fourth__column {
		flex: 0 1 11%;
		& input {
			@apply block w-full h-[45px] border border-line border-solid rounded-12xl py-2 px-3 text-text-sm text-black-300 focus:border-orange-900 transition-colors;
		}
		@media (max-width: 1154px) {
			flex: 0 1 20%;
		}
		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin-bottom: 20px;
		}
	}
	.fifth__column {
		flex: 0 1 40px;
		height: 40px;
		@apply text-text-xl text-orange-900 transition-colors cursor-pointer rounded-2xl
			bg-orange-100 flex items-center justify-center;
		&:hover {
			@apply text-orange-300;
		}
	}
}
