.table__header {
	width: 100%;
	padding: 10px 20px;
	border-bottom: 2px solid #f6f6f6;
	display: grid;
	grid-template-columns:
		minmax(100px, 1fr) minmax(100px, 1fr) minmax(140px, 2.8fr) minmax(96px, 1fr)
		minmax(40px, 40px);
	.table__column {
		@apply text-text-sm text-black-300;
		&.sort {
			@apply flex;
			& p:first-child {
				margin-right: 5px;
			}
		}
	}
}
.product__wrapper {
	height: 290px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #dadada;
		border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #505050;
	}
	.product__column {
		display: grid;
		align-items: center;
		grid-template-columns:
			minmax(100px, 1fr) minmax(100px, 1fr) minmax(140px, 2.8fr) minmax(96px, 1fr)
			minmax(40px, 40px);
		background-color: #f6f6f6;
		margin-bottom: 10px;
		padding: 20px;
		border-radius: 10px;
		&:first-child {
			margin-top: 10px;
		}
		&:last-child {
			margin-bottom: 0px;
		}
		& p {
			@apply text-text-sm text-black-800;
		}
		.product__info {
			@apply flex;
			.product__name {
				& h4 {
					@apply text-text-lg font-semibold text-black-900 mb-1;
				}
				& p {
					@apply text-black-300 text-text-12;
				}
			}
		}
		.product__price {
			& h4 {
				@apply text-text-lg text-black-900 mb-1;
			}
			& p {
				@apply text-black-300 text-text-12;
			}
		}
		.product__edit {
			@apply bg-white h-[40px] rounded-2xl flex items-center justify-center;
		}
	}
}
